@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D2E8E3;
  --foreground: #D2E8E3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D2E8E3;
    --foreground: #D2E8E3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
     
}
